body {
    margin: 8px;
    display: block; 
    font-size: 120%
}

#mainHeading {
    background-color: black;
    color: red;
    font-family: Impact
 }
 .funParagraph {
    background-color: #730080;
    color: green;
    font-family: Impact;
    font-size: 150%
 }